body {
    background-color: #C0C0C0;
}

footer
{
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

.third-level-menu
{
    text-align: center;
    position: absolute;
    top: 0;
    right: -150px;
    width: 150px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
}

.third-level-menu > li
{
    text-align: center;
    height: 30px;
    background: #999999;
}
.third-level-menu > li:hover { background: #CCCCCC; }

.second-level-menu
{
    text-align: center;
    position: absolute;
    top: 30px;
    left: 0;
    width: 150px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
}

.second-level-menu > li
{
    text-align: center;
    position: relative;
    height: 30px;
    background: #999999;
}
.second-level-menu > li:hover { background: #CCCCCC; }

.top-level-menu
{
    justify-content: center;
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.top-level-menu > li
{
    position: relative;
    text-align: center;
    float: left;
    height: 30px;
    width: 150px;
    background: #999999;
}
.top-level-menu > li:hover { background: #CCCCCC; }

.top-level-menu li:hover > ul
{
    /* On hover, display the next level's menu */
    display: inline;
}


/* Menu Link Styles */

.top-level-menu a /* Apply to all links inside the multi-level menu */
{
    font: bold 14px Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    text-decoration: none;
    padding: 0 0 0 10px;

    /* Make the link cover the entire list item-container */
    display: block;
    line-height: 30px;
}

.top-level-menu a:hover 
{ 
    color: black; 
}

.title
{
    text-align: center;
    font-size: 30px;
}

.repair_container
{
    display: grid;
    grid-template-columns: repeat(6, 16.6vw);
    background-color: #ccc;
    color: #000;
}

.employee_container
{
    display: grid;
    grid-template-columns: repeat(3, 33vw);
    background-color: #ccc;
    color: #000;
}

.customer_container
{
    display: grid;
    grid-template-columns: repeat(9, 10vw);
    background-color: #ccc;
    color: #000;
}

.four_wide_container
{
    display: grid;
    grid-template-columns: repeat(4, 25vw);
    background-color: #ccc;
    color: #000;
}

.three_wide_container
{
    display: grid;
    grid-template-columns: repeat(3, 33.3vw);
    background-color: #ccc;
    color: #000;
}

.four_wide_container
{
    display: grid;
    grid-template-columns: repeat(4, 25vw);
    background-color: #ccc;
    color: #000;
}

.six_wide_container
{
    display: grid;
    grid-template-columns: repeat(6, 16.6vw);
    background-color: #ccc;
    color: #000;
}

.seven_wide_container
{
    display: grid;
    grid-template-columns: repeat(7, 14.27vw);
    background-color: #ccc;
    color: #000;
}

.eight_wide_container
{
    display: grid;
    grid-template-columns: repeat(8, 12.5vw);
    background-color: #ccc;
    color: #000;
}

.nine_wide_container
{
    display: grid;
    grid-template-columns: repeat(9, 11.1vw);
    background-color: #ccc;
    color: #000;
}

.ten_wide_container
{
    display: grid;
    grid-template-columns: repeat(10, 10vw);
    background-color: #ccc;
    color: #000;
}

.item 
{
    background-color: #444;
    color: #fff;
    font-size: 20px;
    text-align: center;
}

.item_small
{
    background-color: #444;
    color: #fff;
    font-size: 18px;
    text-align: center;
}